<!-- header section -->
<header id="header-section" class="ha-header ha-header-hide">
    <div class="grid-container">
        <div class="ha-header-perspective">
            <div class="ha-header-front">
                <div class="grid-20 tablet-grid-20 hide-on-mobile">
                    <h1 class="logo"><a href="#top"><img src="images/logo.png" alt="logo"></a></h1>
                </div>
                <nav id="ut-navigation" class="grid-80 tablet-grid-80 hide-on-mobile">
                    <a class="selected" href="#top">Home</a>
                    <a href="#about-section">About</a>
                    <a href="#team-section">Team</a>
                    <a href="#service-section">Service</a>
                    <a href="#portfolio-section">Work</a>
                    <a href="#testimonial-section">Clients</a>
                    <a href="#contact-section">Contact</a>
                </nav>
            </div>
        </div><!-- close .ha-header-perspective -->
    </div><!-- close grid container -->
</header><!-- close header -->